# How to run kNN Applicability Domain on your dataset

### First, let's look at the data we need

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_table('example/training.csv',sep=';|,',header=None,engine='python')

In [3]:
df_test = pd.read_table('example/test.csv',sep=';|,',header=None,engine='python')

### Training and test set files should include:<br>
Compoundid<b> ; </b>descriptor1 <b>,</b> descriptor2 <b>,</b> .... <b> , </b>descriptorN<br>
AND NOTHING ELSE!! There is no size limit to descriptor length.
Please note that:
* semi-column delimits compound_id and descriptor1
* Comma delimits descriptors

In [4]:
# This is what the first two lines of training look like:
df_train[:2]

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
0,1x97,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1z89,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# This is what the first two lines of training look like:
df_test[:2]

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
0,ChEMBL_236398,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,MDDR_249900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Run the program

In [6]:
! ./kNN example/training.csv example/test.csv 3 0.5

ChEMBL_236398	True	0.735325	0.761275
MDDR_249900	True	0.706364	0.761275
BindingDB_16633	True	0.755291	0.761275

In this example, we chose k=3 and 0.5 is an empirical hyperparameter value (please check paper for more details)<br>
If the compound is inside the applicability domain, then True is displayed otherwise False is displayed<br>
The program can be run via shell. Might need to be compiled for your OS. The githib include a rhel7 ready binary. Enjoy!